h1 {
  width: 100%;

}

.container {
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  margin: 20px;
  padding: 20px;
  flex: 0 25%;
  background: #f0f0f0;
  font-size: 24px;
}
